<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sayone.omidyar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.AdminRatesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.ProjectionTimeFrameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.SurveySummaryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.UnitsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.RegistrationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.LandTypeSelectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.AdminLoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.AdminDashBoard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SocialCapitalStartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.LoadingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.SocialCapitalActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".view.CertificateActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.NaturalCapitalSurveyActivity">

        </activity>
        <activity android:name=".view.NaturalCapitalSurveyActivityA" />
        <activity android:name=".view.NaturalCapitalSurveyActivity2"></activity>
        <activity android:name=".view.NaturalCapitalSurveyActivity3"></activity>
        <activity android:name=".view.NaturalCapitalSurveyStartActivity"></activity>
    </application>

</manifest>