<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sayone.omidyar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="landscape"
            android:name=".view.AdminRatesActivity" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.ProjectionTimeFrameActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.SurveySummaryActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.UnitsActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.MainActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.RegistrationActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.LoginActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.AboutActivity" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.LandTypeSelectionActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.AdminLoginActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.AdminDashBoard">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.SocialCapitalStartActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.LoadingActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.SocialCapitalActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".view.CertificateActivity">
        </activity>
    </application>

</manifest>